body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#ffffff;
    /* background-image:url("./components/backgg.jpg") ; */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .bgmain{
    margin: 0;
    margin-top: 0;
    padding: 0;
    /* background-image: url("./bgmain.jfif"); */
    /* background-color: teal; */
    /* background-image:url("./components/bg2.jpg") ; */
  


    width: 100%;
    height: 820px;
  }
  .loginbox, .signupbox, .forgotbox,.updatebox{
    /* display: flex; */
    /* margin-top: 150px; */
    margin-top: -250px;
    margin-bottom: 150px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    border-radius: 20px;


  }
  .heading{
    color: black;
    text-align: center;
    font-size: 50px;
      margin: 0%;
   font-family: 'Poiret One', cursive;

  }
  .but1{
    align-items: center;
    background-color: white;
    color: black;
    font-size: large;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
  .inputbox{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight:100px;
    display: flex;
    flex-direction: column;
  }
  button .but1:hover{
    background-color: blue;
  }
  
  
  
  .bar{
    padding: 20px;
    width: 97%;
    height: 20px;
    color: white;
    background-color: #022444;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li{
    font-family: 'Poiret One', cursive;
    color: white;
    border-radius: 10px;
     padding: 6px; 
     padding-left: 10px;
  }
  li:hover{
    background-color: rgba(255, 255, 255, 0.356);
  }
  ul a {
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
  
  }
  .head{
    height: 500px;    
    padding: 80px;
    text-align: center;
    border-radius: 20px;
    
    border:solid 8px white;
  
  }
  section h1{
    margin-top: 0;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color :rgb(255, 255, 255);
    border-radius: 20px;
  }
  section h3,h2{
    font-size: 40px;
    color :rgb(0, 0, 0);
    text-align: right;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
  }
 
  
  .wheel{
    display: flex;
    flex-direction: row;
  }
  .butwheel1{
   padding: 90px;
    text-align: center;
    margin-top: -100px;
    margin-left: 770px;
    width:80px;
    height: 80px;
    background-color: #022444;
    border-radius: 100%;
    border:solid 8px white;
  }
  .butwheel2{
    padding: 90px;
     text-align: center;
    margin-top: -220px;

     margin-left: 100px;
     width:80px;
     height: 80px;
     background-color: #022444
     ;
     border-radius: 100%;
     border:solid 8px white;
   }
  
  .button{
  border: transparent;
  font-size: 70px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  }
  button:hover {
    color: white;
    background-color:#022444
    ;
  }
  .sortbar{
    margin-top: -80px;
    color: white;
    width: 100%;
    height: 50px;
    background-color: #022444;
    font-family: 'Poiret One', cursive;

  } 
  .sortbar h5{
    margin-top: 90px;
    padding: 20px;
  }
  
  .box{
    width: 100%;
    height: 55vh;
    /* background-color: #3a4660ce; */
    ;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto auto ;
    /* margin-top: 70px; */
    /* margin-bottom: 70px; */
    border:solid 8px white;
      }
  .box div{
    color: azure;
    margin :20px;
    background-color: #aaaaaa
    ;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 0px;
    width: 60%;
    border-radius: 5%;
    cursor: pointer;

  }
  div .name{
    padding: 10px;
    color: white;
    text-align: right;
    font-size: 30px;
  /* background-color: #022444; */
  /* border-bottom: rgb(255, 255, 255); */
  font-family: 'Poiret One', cursive;
  /* font-family: 'Quattrocento Sans', sans-serif; */
  }
  div .balance{
    text-align: center;
    width: 100%;
    padding: 0px;
    font-size: 25px;
    /* font-family: 'Poiret One', cursive; */
    color: #022444;
    background-color: rgba(255, 255, 255, 0.883);
  
  }
  /* div .name:hover{
    color: rgba(0, 0, 0, 0.883);
  } */
  div .card:hover{
    background-color: #eeeeee
    ;
  }
  .footor{
    color: aliceblue;
    width : 100%;
    height : 50px;
    background-color: #022444;

    text-align: center;
    font-family: 'Poiret One', cursive;

  }
  .bgentry{
    padding: 0;
    /* background-image: url("./bgmain.jfif"); */
    /* background-image:url("./entrybg4.jfif") ; */
    background-color: #051723;
    width: 100%;
    height: 600px;
    
margin-top: -80px;
    display: flex;
  }
  
  .add{
    
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 1000px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.979);
    width: 30%;
    margin-top: 150px;
    border-radius: 20px;
   font-family: 'Poiret One', cursive;
   font-weight: bold;
    /* background-image:url("./cardbg2.jfif") ; */
    /* background-image:url("./components/bg2.jpg") ; */
  }
  